body{
    display: grid; 
    justify-items: center; 
    align-content: center; 
    row-gap: 20px; 
    column-gap: 20px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    color: crimson; 
    background-color: black;
}

.buttons{
    margin-top: 40px;
}

button{
    width: 100px; 
    height: 25px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    color: crimson; 
    background-color: black;
}

.results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 500px;
    height: 200px;
    border:red solid 1px;
}

.result{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 30px;
}

.computer, .player{
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}
